$size: 2.2em;

.container {
  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  position: relative;
  width: $size;

  img {
    position: absolute;
    height: $size * 0.8;
    transition: opacity 0.1s;
  }
}

.hidden {
  opacity: 0;
}
