.one {
  color: cornflowerblue;
}

.two {
  color: green;
}

.three {
  color: rgb(255, 0, 43);
}

.four {
  color: purple;
}

.five {
  color: maroon;
}

.six {
  color: turquoise;
}

.seven {
  color: black;
}

.eight {
  color: gray;
}
