$border-width: 0.1em;
$cell-size: 4em;

.cell {
  align-items: center;
  border: $border-width solid rgb(124, 124, 124);
  display: flex;
  justify-content: center;
  height: $cell-size;
  width: $cell-size;
}

.cell-highlight {
  position: absolute;
  background: white;
  height: $cell-size;
  opacity: 0;
  transition: opacity 0.2s;
  width: $cell-size;

  &:hover {
    opacity: 0.5;
  }
}

.column-set {
  display: flex;
}

.faded {
  opacity: 0.2;
}

.image {
  width: 4em;
}

.image-overlay {
  position: absolute;
}

.revealed {
  background: rgb(165, 255, 137);
}

.small-image {
  width: 1.5em;
}

.trap {
  background: rgb(255, 197, 197);
}

.unrevealed {
  background: rgb(223, 223, 223);
}
